
.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  
  font-variation-settings:
    "wdth" 100;
}

.text-gray{
    color: gray;

}
.text-black{
    color: black;
}
.text-orange{
    color: orange;
}
/*navbar*/
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 30px 150px 120px 150px;
}
nav li{
    list-style: none;
    margin-right: 15px;
}
nav li a{
    text-decoration: none   ;
}
.nav-items{
    display: flex;
    align-items: center;
}
.shop{
    display: flex;
    align-items: center;
}

/*banner*/
.banner{
    margin: 0px 150px 226px 150px;
    display: flex;
    justify-content: space-between;
}
.banner-header{
    font-weight: bold;
    font-size: 65px;
    margin-bottom: 0px;
}
.banner-des{
    font-size: 22px;
}
/*cards*/
.cards{
    margin: 0 150px 210.12px 150px;
}
.card-text{
    text-align: center;
}
.card-header{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0px;
}
.card-des{
    text-align: center;
    font-size: 22px;
}
/*card-items*/
.card-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}
.card-item-text, .card-item-price{
    text-align: center;
}
.card-item-text{
    font-size: 22px;
    font-weight: 400;
}
.card-item-price{
    font-weight: bold;
    font-size: 22px;
}
.card-button{
    background-color: #E95A08;
    color: white;
    width: 270px;
    height: 50px;
    text-align: center;
    font-size: 16px;
    border: none;
    margin-bottom: 30px;
}

/*plant lovers*/
.plant-lovers{
    margin: 0px 150px 134px 150px ;
    display: flex;
    justify-content: center;
    gap: 50px;
    
}

.badge{
    width: 286px;
    height: 286px;
    transform: translate(350px, -700px);
}
.lovers-text{
    text-align: left;
    padding-left: 10px;
    padding-top: 0px;
}

.lovers-header{
    font-size: 50px;
    font-weight: bold;
   margin-bottom: 0px;
 
}
.lovers-text ul li{
    margin-bottom: 10px;
}

/*latest deals*/
.latest-deals{
    margin-top: -300px;
    text-align: center;
}
.ld-header{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0px;
}
.ld-text{
    font-size: 22px;
    text-align: center;
}


/*form*/
.form{
    background-image: url(../assets/news-letter-bg.png);
   
    width: 1440px;
    height: 533px;
    text-align: center;
}
.join-bunch{
    color: white;
   padding-top: 175px;
    font-size: 50px;
    font-weight: bold;
}
.btn2{
    background-color:rgba(233, 90, 8, 1) ;
    color: white;
    border: 0;
    height: 50px;
    width: 186px;
}
.mail{
    color:rgba(137, 135, 161, 1) ;
    height: 43px;
    width: 644px;
    font-size: small;
}