
.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  
  font-variation-settings:
    "wdth" 100;
}

.text-gray{
    color: gray;

}
.text-black{
    color: black;
}
.text-orange{
    color: orange;
}
/*navbar*/
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 30px 150px 120px 150px;
}
nav li{
    list-style: none;
    margin-right: 45px;
}
nav li a{
    text-decoration: none   ;
}
.nav-items{
    display: flex;
    align-items: center;
}
.cart{
    width: 22px;
    height: 25px;
}
.shop{
    display: flex;
    align-items: center;
}
@media screen and (max-width:576px) {
    .hide{
        display: none;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        margin: 0px;
    }
    nav li{
        margin-right: 0px;
    }
    .shop{
        align-items: flex-end;
    }
    
}

/*banner*/
.banner{
    margin: 0px 150px 226px 150px;
    display: flex;
    justify-content: space-between;
}
.banner-header{
    font-weight: bold;
    font-size: 65px;
    margin-bottom: 0px;
}
.banner-des{
    font-size: 22px;
}

@media screen and (max-width:576px) {
.banner{
    display: flex;
    flex-direction: column-reverse;
    margin: 0px;
}
.banner-header{
    font-size: 24px;
}
.banner-des{
    font-size: 14px;
    text-align: left;

}
.ht{
    display: none;
}



    
}
/*cards*/
.cards{
    margin: 0 150px 210.12px 150px;
}
.card-text{
    text-align: center;
}
.card-header{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0px;
}
.card-des{
    text-align: center;
    font-size: 22px;
}

/*card-items*/
.card-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}
.card-item-text, .card-item-price{
    text-align: center;
}
.card-item-text{
    font-size: 22px;
    font-weight: 400;
}
.card-item-price{
    font-weight: bold;
    font-size: 22px;
}
.card-button{
    background-color: #E95A08;
    color: white;
    width: 270px;
    height: 50px;
    text-align: center;
    font-size: 16px;
    border: none;
    margin-bottom: 30px;
}
@media screen and (max-width:576px) {
    .cards{
        margin: 0px;
    }
    .card-header    {
        font-size: 24px;
    }
    .card-des{
        font-size: 14px;
    }
    .card-items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
       
        
       
    }
}

/*plant lovers*/
.plant-lovers{
    margin: 0px 150px 134px 150px ;
    display: flex;
    justify-content: center;
    gap: 50px;
    
}

.badge{
    width: 286px;
    height: 286px;
    transform: translate(350px, -700px);
}
.lovers-text{
    text-align: left;
    padding-left: 10px;
    padding-top: 0px;
}

.lovers-header{
    font-size: 50px;
    font-weight: bold;
   margin-bottom: 0px;
 
}
.lovers-text ul li{
    margin-bottom: 10px;
}
@media screen and (max-width:576px) {
 .plant-lovers{
    display: flex;
    flex-direction: column;
    margin: 0px;
    gap: 5px;
  
 }  
 .badge{
    display: none;
 } 
 .lovers-header{
    font-size: 24px;

 }
 .lovers-text{
    font-size: 14px;
 }
 
}
/*latest deals*/
.latest{
    margin-left: 150px;
    margin-right: 150px;
}
.latest-deals{
    margin-top: -300px;
    text-align: center;
    
}
.ful{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ld-header{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0px;
}
.ld-text{
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 70px;
}
.bloom-plant{
     background-color: rgba(0, 0, 0, 0.4);
    background-image: url(../assets/deal-bloom.png);
    border-radius: 8px;
    width: 367px;
    height: 201px;
    text-align: center;
}
.bloom{
    padding-top: 50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.bloom-plant a{
    color: white;
    font-weight: 600;
}
.ana-plant{
     background-color: rgba(0, 0, 0, 0.4);
    background-image: url(../assets/deal-ana.png);
    border-radius: 8px;
    width: 367px;
    height: 201px;
    text-align: center;
}
.ana{
    padding-top: 50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.ana-plant a{
    color: white;
    font-weight: 600;
}
.zabo-plant{
     background-color: rgba(0, 0, 0, 0.4);
    background-image: url(../assets/deal-zabo.png);
    z-index: 1;
    border-radius: 8px;
    width: 754px;
    height: 405px;
    text-align: center;
    margin-top: 25px;
}
.zabo{
    padding-top: 150px;
    color: white;
    font-weight: bold;
    font-size: 40px;
}
.zabo-plant a{
    color: white;
    font-weight: 600;
}



@media screen and (max-width:576px) {
    .latest{
        margin: 0px;
    }
    .latest-deals{
        margin-top: 10px;
    }
    .ful{
        display: flex;
        flex-direction: column;
    }
    .ana-plant, .bloom-plant, .zabo-plant{
        width: 366px;
        height: 206px;
        margin-bottom: 10px;

    }
    .zabo, .ana, .bloom{
        font-size: 20px;
        font-weight: bold;
    }
  .latest-deals{
    margin-top: 0px;
  }  
  .ld-header{
    font-size: 24px;
  }
  .ld-text{
    font-size: 12px;
  }
}

/*form*/
.form{
    background-image: url(../assets/news-letter-bg.png);
   background-size: cover;
   background-repeat: no-repeat;
   
    width: 100%;
    height: 100vh;
    text-align: center;
}
.form img{
    width: 100%;
}
.join-bunch{
    color: white;
   padding-top: 300px;
    font-size: 50px;
    font-weight: bold;
}
.btn2{
    background-color:rgba(233, 90, 8, 1) ;
    color: white;
    border: 0;
    height: 50px;
    width: 186px;
}
.mail{
    color:rgba(137, 135, 161, 1) ;
    height: 43px;
    width: 644px;
    font-size: small;
}
@media screen and (max-width:576px) {
 .form{
   height: 276px;
   
   margin-bottom: 10px;
   
 }   
 .join-bunch{
    padding-top: 50px;
    font-size: 20px;
 }
 .mail{
    height: auto;
    width: 281px;
    height: 50px;
 }
 .btn2{
    width: 103px;
    height: 50px;
 }
}

/*footer*/
.footer{
    margin: 50px 160px 50px 160px;
    display: flex;
    gap: 70px;
}
footer li{
    list-style: none;
    color: gray;
}
footer li a{
    text-decoration: none;
}
.footer-li{
    color: gray;
    margin-bottom: 30px;
}
.icon{
    width: 36px;
    height: 36px;
    display: flex;
    gap: 40px;
}
@media screen and (max-width:576px) {
    .footer{
        margin: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .footer-li{
        margin-bottom: 10px;
    }
}